body {
  background: antiquewhite;

  .test-a {
    background: black;
    color: #fff;
  }

  .img-a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: url("./assets/img/order-pay.png") no-repeat;
    background-size: 100% 100%;
  }
}
